*{
    outline: 1px dotted #aaa;
}
.container{
    width: 1296px;
    margin: 0 auto;
    padding: 0 12px;
}
.mb-1{
    margin-bottom: 8px;
}
.mb-2{
    margin-bottom: 16px;
}
.mb-3{
    margin-bottom: 24px;
}
.mb-4{
    margin-bottom: 32px;
}
.mb-6{
    margin-bottom: 48px;
}
.ptb-10{
    padding: 80px 0;
}
.pb-4{
    padding-bottom: 32px;
}
.ml-6{
    margin-left: 48px;
}
.bgred{
    background-color: #AA0601;
}
.red{
    color: #650300;
}
h1{
    display: block;
    font-size: 64px;
    font-weight: bold;
    line-height: 96px;
    text-align: right;
}
span{
    font-size: 36px;
    line-height: 54px;
}
h2{
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    font-weight: bold;
}
h3{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
}
a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.header img{
    width: 80px;
    height: auto;
    padding: 12px 0;
    vertical-align: bottom;
    /* display: inline-block; */
}
.header a{
    color: #fff;
    line-height: 80px;
}
.header .flex .w-112{
    width: 112px;
}
.banner{
    width: auto;
    height: 787px;
    background-image: url(banner.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.banner .jcc-aife{
    flex-direction: column; 
    justify-content: center;
    align-items: flex-end;
    height: 787px;
}
.banner a{
    font-size: 20px;
    line-height: 41px;
    width: 104px;
    color: #fff;
    background-color: #AA0601;
}
.underbanner{
    background-color: #FBF2F2;
}
.underbanner .item{
    width: 306px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.underbanner .item img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
}
.underbanner .item p{
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}
.series .jcsb{
    justify-content: space-between;
}
.series li, .series img, .series .jcsb a{
    width: 416px;
}
.series .jcsb a{
    line-height: 72px;
}
.bloodred{
    color: #AA0601;
    font-size: 48px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
.jointname{
    height: 448px;
    width: auto;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: center 20%;
}
.jointname h2{
    color: #fff;
}
.jointname a{
    width: 648px;
    line-height: 88px;
    background-color: #fff;
}
.jointname img{
    width: 648px;
    height: 240px;
    display: block;
    /* 移除圖片下方空白 */
    object-fit: cover;
    /* 圖片設置(填滿元素的寬度及高度(維持原比例)，通常會剪掉部分的物件) */
    object-position: right 25%;
    /* 控制置換元素的內容填入的位置 */
}
.recommend .customer{
    width: 306px;
    border: 1px solid #DEE2E6;
    box-shadow: 0 2px 6px #DEE2E6;
}
.recommend .customer img{
    width: 306px;
    height: 306px;  
    object-fit: cover;
}
.recommend .customer p{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.recommend .customer .itemp-16{
    padding: 16px;
    flex-direction: column;
}
.recommend .customer .fwnm{
    font-weight: normal;
}
.connect{
    background-color: #FBF2F2;
}
.connect .wrap{
    width: 636px;
    margin: 0 auto;
}
.connect .wrap p{
    font-size: 20px;
    line-height: 30PX;
}
.connect .gray-border{
    border: 1px solid #000;
    opacity: 0.2;
}
.connect .bigger{
    height: 136px;
}
.connect .thing{
    display: flex;
}
.connect .thing p{
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
}
.connect .wrap a{
    font-size: 16px;
    line-height: 56px;
    display: block;
    width: 416px;
    margin: 0 auto;
    color: #fff;
    background-color: #AA0601;
}
.pt6pb4{
    padding-top: 48px;
    padding-bottom: 32px;
}
.footer li, .footer p , .footer a{
    color: #fff;
}
.footer p{
    font-size: 36px;
    line-height: 54px;
}
.footer a{
    font-size: 16px;
    line-height: 48px;
    display: inline-block;
    padding: 0 24px;
}
.footer .noleftpadding{
    padding-left: 0;
}
.footer img{
    display: block;
    width: 48px;
    height: 48px;
}
.footer .p0-16{
    padding: 0 16px;
}
.footer .nopadding{
    padding: 0 0 0 16px;
}
.footer .borderb{
    border-bottom: 1px solid #fff;
}
.footer .small{
    font-size: 14px;
    line-height: 21px;
    padding: 0 0;
}
.footer .tarignt{
    text-align: right;
}
@media screen and (min-width:760px) and (max-width:768px) {
    .container{
        width: 696px;
        margin: 0 auto;
    }
    .flex{
        flex-wrap: wrap;
    }
    .banner{
        width: auto;
        height: 787px;
        background-image: url(banner-sm.png);
        background-size: cover;
    }
    .underbanner .item, .series li, .series img, .series .jcsb a, .recommend .customer, .recommend .customer img{
        width: 336px;
    }
    .series .jcsb{
        width: 336px;
        margin: 0 auto;
        flex-direction: column;
    }
    .series li:nth-child(1), .series li:nth-child(2){
        margin-bottom: 24px;
    }
    .series .jcsb a{
        width: 336px;
    }
    .jointname{
        height: 800px;
        background-repeat: no-repeat;
        background-position: 20% 14%;
    }
    .jointname a, .jointname img{
        width: 696px;
    }
    .jointname li:nth-child(1){
        margin-bottom: 24px;
    }
    .connect .wrap{
        width: 576px;
    }
    .connect .wrap p{
        font-size: 16px;
        line-height: 24PX;
    }
    .footer a{
        line-height: 40px;
    }
    .footer img{
        display: block;
        width: 40px;
        height: 40px;
    }
    .footer .w768mb3{
        margin-bottom: 24px;
    }
}
@media screen and (min-width:370px) and (max-width:375px) {
    .container{
        width: 349px;
    }
    .flex{
        flex-wrap: wrap;
    }
    .underbanner .item, .series li, .series img, .series .jcsb a, .jointname a, .jointname img, .recommend .customer, .connect .wrap, .connect .wrap a, .recommend .customer img{
        width: 348px;
    }
    .header .flex{
        width: 80px;
        height: 80px;
        overflow: hidden;
    }.banner{
        width: auto;
        height: 396px;
        background-image: url(banner-sm.png);
        background-size: cover;
    }
    h1{
        /* display: block; */
        font-size: 24px;
        /* font-weight: bold; */
        line-height: 36px;
        /* text-align: right; */
    }
    span{
        font-size: 16px;
        line-height: 24px;
    }
    .banner .jcc-aife{
        height: 396px;
    }
    h2, h3{
        font-size: 24px;
        line-height: 36px;
    }
    .mb-6{
        margin-bottom: 24px;
    }
    .ptb-10{
        padding: 40px 0;
    }
    .underbanner .item:nth-child(1), .underbanner .item:nth-child(2), .underbanner .item:nth-child(3){
        margin-bottom: 24px;
    }
    .series li{
        margin-bottom: 24px;
    }
    .jointname{
        height: 740px;
        width: auto;
        /* background-image: url(bg.png);
        background-repeat: no-repeat;
        background-position: center 20%; */
    }
    .jointname img{
        height: 240px;
    }
    .recommend .itemp-16{
        height: 205px;
    }
}